@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital@0;1&display=swap');

/* font-family: 'Abril Fatface', cursive;
font-family: 'Roboto', sans-serif; */
:root {
  --logo-ff: 'Abril Fatface', cursive;
  --main-ff: 'Roboto', sans-serif;
  --accnt-color: #558812;
  --light-color: #FCFDC3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

/* sidebar hero styles */
.sidebar {
  background-image: url(./img/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg);
  background-size: cover;
  background-position: center;
  font-family: var(--logo-ff);
  height: 100vh;
  flex: 1.5;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar h1 {
  font-size: 2.75rem;
}

.sidebar p  {
  position: absolute;
  bottom: 5px;
}

.sidebar a {
  text-decoration: none;
  color: var(--light-color);
}
.sidebar a:hover {
  color:aqua;
}

.logo {
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 150px;
  filter: invert(1);
  padding: 20px;
}

/* form-entry area styles */
.content {
  font-family: var(--main-ff);
  flex: 2;
}