@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital@0;1&display=swap');

/* font-family: 'Abril Fatface', cursive;
font-family: 'Roboto', sans-serif; */
:root {
  --logo-ff: 'Abril Fatface', cursive;
  --main-ff: 'Roboto', sans-serif;
  --accnt-color: #558812;
  --light-color: #FCFDC3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

/* sidebar hero styles */
.sidebar {
  background-image: url(./img/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg);
  background-size: cover;
  background-position: center;
  font-family: var(--logo-ff);
  height: 100vh;
  flex: 1.5;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar h1 {
  font-size: 2.75rem;
}

.sidebar p  {
  position: absolute;
  bottom: 5px;
}

.sidebar a {
  text-decoration: none;
  color: var(--light-color);
}
.sidebar a:hover {
  color: dodgerblue;
}

.logo {
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 150px;
  filter: invert(1);
  padding: 20px;
}

/* form-entry area styles */
.content {
  font-family: var(--main-ff);
  font-weight: bold;
  flex: 2;
  background-color: rgb(245, 245, 245);

  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* .intro, 
.form-container, 
.login {
  padding: 2vw;
} */

.form-container {
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);

  /* display: flex; */
  /* flex-direction: column; */
}

legend {
  margin-bottom: 1.2rem;
}

form {
  display: flex;
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1rem;
}

/* label {
  position: relative;
  width: 6rem;
} */

button[type='submit'] {
  font-size: 1.5rem;
  padding: .8rem 1.5rem;
  background-color: var(--accnt-color);
  color: var(--light-color);
  border: 2px solid var(--accnt-color);
  border-radius: .3rem;
  margin-bottom: 1.2rem;
}

button[type='submit']:hover {
  background-color: var(--light-color);
  color: var(--accnt-color);
}

.content a {
  text-decoration: none;
  color: var(--accnt-color);
}

.content a:hover {
  color:dodgerblue;
}

input {
  border: 1px solid #e5e7eb
}

input:focus {
  outline: none;
  border: 3px solid #1e90ff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
}